{% extends 'registration/registration_base.html' %}
{% load i18n %}
{% block title %}Email enviado | Sistema de Gestão de Aprendizagem{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div id="login">
  <h3 class="login-title">Email enviado</h3>
  <div class="container">
    <div class="alert alert-success">
      <i class="fas fa-check-circle"></i>Um e-mail foi enviado com instruções para redefinir a sua senha. Verifique o seu e-mail.
    </div>
    <a class="btn btn-primary" href="{% url 'login' %}"><i class="far fa-arrow-alt-circle-left"></i>Voltar para o Login</a>
  </div>
</div>
{% endblock content %}
