{% extends 'registration/registration_base.html' %}
{% load i18n %}
{% block title %}Redefinição de Senha Concluída | Sistema de Gestão de Aprendizagem{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div id="login">
  <h3 class="login-title">Redefinição de Senha Concluída</h3>
    <div class="container">
      <div class="alert alert-success">
        <i class="fas fa-check-circle"></i>Sua senha foi redefinida com sucesso. Agora pode entrar!
      </div>
      <a class="btn btn-primary" href="{% url 'login' %}">Entrar aqui</a>
    </div>
</div>
{% endblock content %}
