{% extends 'registration/registration_base.html' %}
{% load i18n %}
{% block title %}Nova Senha | Sistema de Gestão de Aprendizagem{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}

{% include 'snippets/messages.html' %}

<div id="login">
  <h3 class="login-title">Confirmar Nova Senha</h3>
    <div class="p-3">
        <form action="" method="POST" class="form-box text-left">{% csrf_token %}
            {{ form|crispy }}
            <!-- <label for="password1">Nova Senha</label>
            <input type="password" id="password1" name="password1" class="form-control" required><hr>
            <label for="password2">Confirmar Senha</label>
            <input type="password" id="password2" name="password2" class="form-control" required>
            <hr> -->
            <input type="submit" class="btn btn-primary" value="Redefinir Senha">
        </form>
    </div>
</div>
{% endblock content %}
