{% extends 'base.html' %}
{% load i18n %}
{% block title %} {{ title }} | Sistema de Gestão de Aprendizagem{% endblock title %}

{% load static %}


{% block content %}

{% if user.is_authenticated %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Início</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ user.get_full_name }}</li>
    </ol>
</nav>

{% include 'snippets/messages.html' %}

<div class="row">

    <div class="col-md-3 mx-auto">
        <div class="card  p-2">
            <div class="text-center">
                <img src="{{ user.picture.url }}" class="w-100">
                <ul class="px-2 list-unstyled">
                    <li>{{ user.get_full_name|title }}</li>
                    <li><strong>Último login: </strong>{{ user.last_login|date }}</li>
                    <li><strong>Função: </strong>
                        {{ user.get_user_role }}
                    </li>
                </ul>
            </div>
            <hr>
            <a class="mb-2" href="{% url 'edit_profile' %}"><i class="fas fa-user-edit unstyled"></i>
                <span class="mobile-hide">Editar Perfil</span></a>
            <a href="{% url 'change_password' %}"><i class="fas fa-lock unstyled"></i><span class="mobile-hide">
                Alterar palavra-passe</span></a>
        </div>
    </div>

    <div class="col-md-9 mx-auto">
        <div class="card">
            <div class="card-body">
                <!-- {% if user.is_student %}
                <p class="form-title"><i class="fas fa-book-open"></i>Enrolled Courses</p>
                <div class="dashboard-description">
                    {% if courses %}
                        <div class="flex">
                            {% for course in courses %}
                                <div class="flex"><a class="edit-btn" href="{{ course.get_absolute_url }}">{{ course }}</a></div>
                            {% endfor %}
                        </div>
                    {% else %}
                            <div class="text-danger"><i class="far fa-frown"></i>Nenhum curso!</div>
                    {% endif %}
                </div>
                {% endif %} -->
    
                {% if user.is_lecturer %}
                <p class="fw-bold"><i class="fas fa-book-open"></i> Meus Cursos</p>
                {% if courses %}
                <ul>
                    {% for course in courses %}
                    <li><a href="{{ course.get_absolute_url }}" class="text-primary">{{ course }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                <div class="text-danger">Nenhum curso atribuído!</div>
                {% endif %}
                <hr>
                {% endif %}
    
                <p class="fw-bold"><i class="me-2 fas fa-user"></i>Informações Pessoais</p>
                <div class="dashboard-description">
                    <p><strong>Primeiro Nome:</strong> {{ user.first_name|title }}</p>
                    <p><strong>Último Nome:</strong> {{ user.last_name|title }}</p>
                    <p><strong>N.º ID:</strong> {{ user.username }}</p>
                </div>
                {% if user.is_student %}
                <hr>
                <p class="fw-bold"><i class="me-2 fas fa-graduation-cap"></i>Informações do Candidato</p>
                <div class="dashboard-description">
                    <p><strong>Escola: </strong>Escola Preparatória Hawas</p>
                    <p><strong>Nível: </strong>{{ level.level }}</p>
                </div>
                {% endif %}
    
                <hr>
                <p class="fw-bold"><i class="me-2 fas fa-phone-square-alt"></i>Dados de Contacto</p>
                <div class="dashboard-description">
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    <p><strong>Telemóvel:</strong> {{ user.phone }}</p>
                    <p><strong>Morada/Cidade:</strong> {{ user.address }}</p>
                </div>
    
                <hr>
                <p class="fw-bold"><i class="me-2 fa fa-calendar-day"></i>Datas Importantes</p>
                <div class="dashboard-description">
                    <p><strong>Último login:</strong> {{ user.last_login }}</p>
                    {% if current_semester and current_session %}
                    <p><strong>Ano Académico:</strong> {{ current_semester }} Semestre {{ current_session }}</p>
                    {% endif %}
                    <p><strong>Data de Registo:</strong> {{ user.date_joined|date }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 mx-auto"></div>

</div>
{% endif %}

{% endblock content %}